/** @format */

body {
  margin: 0;
}

.App {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.Admins {
  background-color: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
}
