/* 선택자(Selector) */

* {  
    box-sizing: border-box;
}
/* * { } 해버리면 모든 태그에 css가 적용됨 */

#header-center {    /* div tag는 생략이 가능한데 다른 header와 같은 태그들은 생략 불가능! */
    margin: 0 auto; 
    width: 1120px;
    height: 100%;
}

#header-search > a {
    width:  200px;
    height: 53px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -3px 1px;
    vertical-align: middle;
}

#header-search > a span {
    display: none;
}

/*
#header-cetner h1 {
    자손선택자 
}
*/

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-search > h2 {
    display: none;
}

#header-search fieldset {
    position: absolute;
    margin-left:20px;
    /* padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px; */
    padding: 12px 0px 12px 20px;
    border: 3px solid #03cf5d;  /* 컬러는 HEX표기법을 많이 씀 */
    width: 550px;
    display: inline-block;
    vertical-align: middle;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    font-size: medium;
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: 0px;
    padding: 0;
    background-color:#03cf5d;
}

#search-image {
    background-image: url(./sp_search.png);
    background-position: -4px -60px;
    background-repeat:no-repeat;
    height: 21px;
    width: 21px;
    display:inline-block;
    margin: 12px;
}   