/** @format */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navvar */
.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0px 9px;
}

.navbar a:hover {
  border-bottom: 3px white solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  background-color: var(--primary-color);
  height: 400px;
  color: white;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase p {
  margin: 20px 0;
  height: 85px;
  font-size: 15px;
}

.showcase .grid {
  grid-template-columns: 55% 45%;
  gap: 10px;
  overflow: visible;
}

.showcase form {
  position: relative;
  top: -25px;
  height: 318px;
  width: 360px;
  right: 25px;
  padding: 25px;
  z-index: 100;
  justify-self: flex-end;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 2px solid rgb(223, 222, 222);
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: white;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Stats */
.stats {
  padding-top: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}
