/**
 * 
 * @format
 */

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0px 40px;
}

/* background & colored botton */
.bg-primary,
.btn-primary {
  background: var(--primary-color);
  color: white;
}

.bg-secondary,
.btn-secondary {
  background: var(--secondary-color);
  color: white;
}

.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: white;
}

.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}

.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: white;
}

/* Text sizes */
.lead {
  font-size: 20px;
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 3rem;
}

.xl {
  font-size: 4rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

/* botton  */

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 12px;
}

.btn-outline {
  border: white solid 1px;
  color: white;
}

.btn:hover {
  transform: scale(0.98);
}

/* card */

.card {
  background-color: white;
  color: #333;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 430px;
  padding: 30px;
  margin: 20px;
}

.scard {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 75px;
  padding: 21px;
  margin: 20px;
}

.mcard {
  background-color: white;
  color: #333;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  padding: 21px;
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
