/* 선택자(Selector) */

* {  
    box-sizing: border-box;
}
/* * { } 해버리면 모든 태그에 css가 적용됨 */

.center-align {    /* div tag는 생략이 가능한데 다른 header와 같은 태그들은 생략 불가능! */
    margin: 0 auto; 
    width: 1120px;
    height: 100%;
}

#header-search > a {
    width:  200px;
    height: 53px;
    display: inline-block;
    background-image: url(./sp_search.png);
    background-position: -3px 1px;
    vertical-align: middle;
}

#header-search > a span {
    display: none;
}

/*
#header-cetner h1 {
    자손선택자 
}
*/

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-search > h2 {
    display: none;
}

#header-search fieldset {
    margin-left:20px;
    /* padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 0px; */
    padding: 12px 0px 12px 20px;
    border: 3px solid #03cf5d;  /* 컬러는 HEX표기법을 많이 씀 */
    width: 550px;
    bottom: -9px;

    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#header-search fieldset input {
    border: none;
    padding: 0;
    outline: none;
    font-size: medium;
    display: inline-block;
    width:405px;
    height:23px;
   
}

#header-search fieldset button {
    width: 49px;
    height: 49px;
    border: 0px;
    padding: 0;
    background-color:#03cf5d;
    position:absolute;
    right: 0;
    top: 0px;
    right : -2px;
    
}

#search-image {
    background-image: url(./sp_search.png);
    background-position: -4px -60px;
    background-repeat:no-repeat;
    height: 21px;
    width: 21px;
    display:inline-block;
    margin: 12px;
}   

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;  
}

nav li {
    display: inline-block;
}

nav li span:first-child {
    height: 16px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_nav.png);
    background-repeat: no-repeat;
    margin-left: 10px;
} 

nav li:first-child span:first-child {
    width: 25px;
    background-position: 0 -285px;
    margin-left: 0px;
}   

nav li:nth-child(2) span:first-child {
    width: 27px;
    background-position: -279px -52px;
    
}

nav li:nth-child(3) span:first-child {
    width: 40px;
    background-position: -100px -182px;
    
}

nav li:nth-child(4) span:first-child {
    width: 40px;
    background-position: -101px -156px;
    
}

nav li:nth-child(5) span:first-child {
    width: 40px;
    background-position: -279px -156px;
}

nav li:nth-child(6) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}

nav li:nth-child(7) span:first-child {
    width: 40px;
    background-position: -101px -156px;
}



